.login {
    background-image: url(https://storage-hal2.s3-ap-northeast-1.amazonaws.com/photos/desk-3076954_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.login-container {
    padding: 20vw 0 10vw 0;
}

.login-wrapper h2 {
    color: black;
}

.login-wrapper label {
    color: black;
}

.login-wrapper p {
    color: black;
}

.login-wrapper a {
    color: black;
}

@media(max-width: 767px) {
    .login-container {
        padding-top: 30vw;
    }
    
    .to-registration {
        padding-top: 20vw;
    }
}