.login {
    background-image: url(https://storage-hal2.s3.ap-northeast-1.amazonaws.com/photos/topimage.0.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.login-container {
    padding: 20vw 0 10vw 0;
}

@media(max-width: 576px) {
    .login {
        background-size: 230vw;
    }
}