.register {
    background-image: url(https://storage-hal2.s3.ap-northeast-1.amazonaws.com/photos/topimage.0.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.register-container {
    padding: 15vw 0 10vw 0;
}

@media(max-width: 576px) {
    .register {
        background-image: none;
        background-color: rgb(73,58,48);
    }
    
    .register-wrapper h2 {
        color: white;
    }
    
    .form-group label{
        color: white;
    }
}