header {
    position: relative;
}

.header-outer {
    position: absolute;
    z-index: 100;
    width: 100vw;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: 0 auto;
}

.header-title h1 {
    line-height: 120px;
    letter-spacing: 8px;
    font-weight: 800;
    color: black;
}

.header-logo {
    width: 50px;
    margin-right: 20px;
}

.menu-list {
    line-height: 120px;
    display: inline-block;
    font-size: 14px;
}

.header-menu {
    display: block;
}

.header-menu a {
    padding-left: 15px;
    font-size: 16px;
    line-height: 120px;
    opacity: 1;
    color: white;
    letter-spacing: 1px;
}

.header-menu a:hover {
    color: grey;
}

.header-menu li, .header-menu ul {
    opacity: 1;
}

.humberger-btn {
    display: none;
}




@media (max-width: 767px) {
    .humberger-btn {
        display: block;
        border: 0;
        background-color: rgba(0,0,0,0);
        height: 120px;
    }
    
    .close {
        display: block;
        display: none;
        position: absolute;
        right: 10px;
        z-index: 100;
        opacity: 0.8;
    }
    
    .header-menu {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        background-color: black;
        padding: 20px;
        padding-top: 80px;
    }
    
    .header-menu a {
        line-height: 30px;
        padding: 0;
        font-size: 12px;
    }
    
    .menu-list {
        display: block;
        line-height: 30px;
    }
    
    button {
        line-height: 120px;
    }
}

@media (max-width: 600px) {
    .header-outer {
        height: 80px;
    }
    
    .header-title h1 {
        font-size: 28px;
        letter-spacing: 5px;
        line-height: 80px;
    }
    
    .header-logo {
        width: 40px;
    }
    
    .humberger-btn {
        height: 80px;
    }
    
    button {
        line-height: 80px;
    }
}