/*
.main-outer {
    margin-top: 30px;
    height: 130vw;
}

.main-container {
    position:relative;
    height: auto;
}

.tag {
    position: absolute;
    z-index:10;
    left: 13vw;
    width: 4vw;
    height: 10vw;
    background-color: rgb(240,0,0);
    border: 2px solid rgba(40,40,40,0.4);
    border-radius: 3px;
    opacity: 0.8;
    filter: drop-shadow(4px 4px 4px grey);
}

.note {
    position: absolute;
    width: 80vw;
    height: 120vw;
    top: 4vw;
    left: 10vw;
    border-radius: 5px;
    border: 1px solid rgba(40,40,40,0.3);
    filter: drop-shadow(4px 4px 4px grey);
    background-color: white;
}

.note-wrapper {
    width: 70vw;
    margin: 0 auto;
    margin-top: 8vw;
}

.tag-2 {
    left: 20vw;
    background-color: rgb(0,224,26);
    z-index: 0;
}

.tag-3 {
    left: 27vw;
    background-color: rgb(23,61,255);
    z-index: 0;
}

.tag-4 {
    left: 34vw;
    background-color: rgb(250,241,0);
    z-index: 0;
}

.note-1 {
    z-index: 5;
}

.note h2, .note h3, .note p {
    padding-bottom: 12px;
    padding-top: 12px;
    border-bottom: 1px dashed black;
}

.note-list-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fixed-tag {
    width: 30vw;
    height: 30vw;
    margin-top: 10px;
}

.fixed-tag-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.fixed-tag-wrapper p {
    border-style: none;    
}

.fixed-tag-image {
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 100%;
}

.fixed-tag-para {
    position: absolute;
    z-index: 100;
    top: 15%;
    left: 10%;
    width: 80%;
    height: 70%;
}

.background-decoration {
    position: absolute;
    top: 25vw;
    width: 100vw;
    height: 105vw;
    background-color: black;
    z-index: 0;
}
*/