.main-wrapper {
    padding-top: 20px;
}

.note-container {
    width: 800px;
    height: 1000px;
    margin: 20px auto;
    position: relative;
}

.tag {
    position: absolute;
    z-index: 20;
    left: 15px;
    width: 40px;
    height: 120px;
    background-image: linear-gradient(#FC2A2A, #E62F2F);
    border: 1px solid rgba(40,40,40,0.2);
    border-radius: 1px;
    opacity: 1;
    cursor: pointer;
}

.note {
    position: absolute;
    z-index: 5;
    width: 800px;
    height: 90%;
    top: 40px;
    border-radius: 5px;
    border: 1px solid rgba(40,40,40,0.3);
    filter: drop-shadow(4px 4px 4px grey);
    background-color: rgb(255,252,248);
}

.note-wrapper {
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
}

.tag-2 {
    margin-left: 65px;
    z-index: 1;
    background-image: linear-gradient(#15F23E, #2DE45C);
}

.tag-3 {
    margin-left: 120px;
    z-index: 1;
    background-image: linear-gradient(#3B5FFB, #1D2EDA);
}

.tag-4 {
    margin-left: 175px;
    z-index: 1;
    background-image: linear-gradient(#FCF533, #FDF411);
}

.note-1 {
    z-index: 10;
}

.note-2 {
    display: none;
}

.note-3 {
    display: none;
}

.note-4 {
    display: none;
}

.note h2, .note h3, .note p {
    padding-bottom: 8px;
    padding-top: 8px;
    border-bottom: 1px dashed black;
}

.note p {
    font-size: 14px;
    font-weight: 600;
}

.note h2 {
    font-size: 24px;
}

.note h3 {
    font-size: 20px;
}

.genre-name span {
    font-size: 16px;
}

.note-list-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fixed-tag {
    width: 800px;
    height: 300px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.fixed-tag-wrapper {
    position: relative;
    width: 45%;
    height: 100%;
}

.fixed-tag-wrapper p {
    border-style: none;    
}

.fixed-tag-image {
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 100%;
}

.fixed-photo {
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 110%;
    background-color: white;
    border: 1px solid rgba(50,50,50,0.3);
    filter: drop-shadow(4px 4px 4px grey);
}

.fixed-photo-image {
    position: absolute;
    z-index: 100;
    width: 90%;
    height: 80%;
    left: 5%;
    top: 5%;
    border: 1px solid black;
}

.fixed-tag-para {
    position: absolute;
    z-index: 100;
    top: 20%;
    left: 12%;
    width: 75%;
    height: 70%;
}

.link-tag {
    position: absolute;
    left: 90%;
    margin-top: -65px;
    background-image: linear-gradient(#FEFB2D, #EBE81C);
    width: 130px;
    height: 40px;
    text-align: center;
    border-radius: 1px;
    border: 1px solid rgba(0,0,0,0.2);
}

.link-tag p {
    color: black;
    line-height: 20px;
    border-style: none;
}


@media(max-width: 1300px) {
    .note-container {
        width: 90%;
    }
    
    .note {
        width: 95%;
        margin: 0 auto;
    }
    
    .fixed-tag-wrapper {
        height: 90%;
    }
    
    .fixed-tag-wrapper p {
        font-size: 12px;
    }
}

@media(max-width: 991px) {
    .fixed-tag-wrapper {
        height: 100%;
    }
}

@media(max-width: 767px) {
    .note-list-container {
        margin-top: 0;
    }
    
    .fixed-tag {
        display: block;
    }
    
    .fixed-tag-wrapper {
        width: 90%;
        margin: 0 auto;
    }
    
    .note-container {
        height: 1200px;
    }
    
    .main-wrapper {
        padding: 0;
    }
    
    .note-container {
        margin-top: 0 auto;
    }

    .note {
        width: 100%;
        height: 95%;
    }
    
    .note p {
    font-size: 12px;
    }

    .note h2 {
        font-size: 22px;
    }
    
    .note h3 {
        font-size: 18px;
    }
    
    .tag {
        width: 33px;
    }
    
    .tag-2 {
    margin-left: 58px;
    z-index: 1;
    background-image: linear-gradient(#15F23E, #2DE45C);
    }
    
    .tag-3 {
        margin-left: 113px;
        z-index: 1;
        background-image: linear-gradient(#3B5FFB, #1D2EDA);
    }
    
    .tag-4 {
        margin-left: 168px;
        z-index: 1;
        background-image: linear-gradient(#FCF533, #FDF411);
    }
    
    .link-tag {
        left: 65%;
    }

}