.responsive-container {
    display: none;
    padding-top: 30px;
    background-image: url(https://storage-hal2.s3-ap-northeast-1.amazonaws.com/photos/wood-1759566_1920.jpg);
}

.responsive-gallery {
    padding-bottom: 15px;
}

.responsive-gallery-title {
    display: inline-block;
    font-size: 26px;
    margin-bottom: 15px;
    color: rgb(61,61,61);
    padding: 0 5px 5px 5px;
    border-bottom: 2px dashed black;
}

.responsive-photo-container {
    width: 63vw;
    height: 72vw;
    margin-top: 10px;
}

@media(max-width: 767px) {
    .responsive-container {
        display: block;
    }
}